@use "vars" as *;
@import url('../assets/trumpets.svg');

body {
    background-color: $color-background-body;
    font-family: $font-body;
    color: $color-text-main;
    font-size: 1rem;
    line-height: $font-line-height-body;
}

.home-page {
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
}

canvas, 
#root::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#root::before {
    content: "";
    background: url('../assets/trumpets.svg') no-repeat center center;
    background-size: cover;
    opacity: 0.1; /* Adjust the opacity value as needed */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}