@use "vars" as *;
@import url('../assets/trumpets.svg');

body {
    background-color: $color-background-body;
    font-family: $font-body;
    color: $color-text-main;
    font-size: 1rem;
    line-height: $font-line-height-body;
}

#root {
    position: relative;
    z-index: 1; /* Ensure content stays above the pseudo-element */
}

#root::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/trumpets.svg') no-repeat center center;
    background-size: cover;
    opacity: 0.1; /* Adjust the opacity value as needed */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}