@use 'vars' as *;
@use 'mixins' as *;

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    margin: 0 auto;
    @include mediaQuery(50em) {
        display: block;
        max-width: 100%;
        .logo {
            margin: 2rem 0 0 2rem;
        }
    }
    img {
        width: 3rem;
        margin: 1rem;
        @include mediaQuery(50em) {
            width: 5rem;
        }
        &:hover {
            box-shadow: 0px 0px 5px 5px black;
        }
    }
    .desktop-nav {
        display: none;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .nav-links {
        display: none;
        list-style: none;
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        top: 3.75rem;
        right: 0;
        background-color: $color-background-body;
        padding: 0;
        width: 100%;
        border: 1px solid $color-border;
        .home-note, 
        .music-rest,
        .about-note {
            display: none;
        }
        &.open {
            display: flex;  
            li {
                padding: 1rem;
                border-bottom: 1px solid $color-border;
                &:nth-child(3) {
                    border-bottom: none;
                }
            }      
        }
    }

    @include mediaQuery(50em) {
        .hamburger {
            display: none;
        }
        .main-nav {
            position: relative;
            .desktop-nav {
                display: block;
                position: absolute;
                top: 1;
                width: 100%;
            }
            .nav-links {
                transition: opacity 0.5s ease-in;
                display: flex;
                flex-direction: row;
                background-color: transparent;
                border: none;
                .home, 
                .projects,
                .about {
                    position: absolute;
                    animation: upDown 2s infinite alternate ease-in-out;
                    .home-note, 
                    .music-rest,
                    .about-note {
                        display: block;
                    }
                }
                .home {
                    bottom: calc(1rem + 5%);
                    left: 25%;
                }
                .projects {
                    bottom: calc(2.25rem + 10%);
                    left: 50%;
                }
                .about {
                    bottom: calc(4.5rem + 15%);
                    left: 75%;
                }
                @keyframes upDown {
                    0% {
                        transform: translateY(0);
                    }
                    100% {
                        transform: translateY(5%);
                    }
                }
            }
            .image-container {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 4rem;
                }
                a {
                    position: absolute;
                    bottom: 25px;
                }
                .music-rest {
                    width: 6rem;
                }
                &.home-link,
                &.rest-link,
                &.about-link {
                    text-align: center;
                }
            }
        }
    }
}