@use 'vars' as *;

#post-12 {
    height: 100vh;
    h1, p {
        text-align: center;
    }
    p {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 3s steps(30, end) forwards;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }
}