.projects-section {
    .projects-heading {
        display: flex;
        margin: .5rem;
        justify-content: space-between;
    }
}

.project-overview p,
.project-overview .stack-flex {
    padding: 1rem 0;
}