@use 'vars' as *;
@use 'mixins' as *;

#post-48,
#post-46,
#post-44,
#post-42 {
    .video-container video {
        width: 100%;
    }
    .project-overview p,
    .react-tabs p {
        margin: .25rem;
    }
    .single-links a {
        margin-left: .5rem;
        z-index: 1000;
    }
}

@include mediaQuery(50em) {
    .react-tabs {
        height: 40rem;
        p, ul {
            padding-top: .5rem;
        }
    }
}

.react-tabs__tab-list {
    border-bottom: 1px solid $color-border;
    margin: 0 0 10px;
    padding: 0;
    display: flex;
}

.react-tabs__tab--selected {
    background: $color-text-main;
    border-color: $color-border;
    color: $color-background-body;
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab {
    flex: 1;
    text-align: center;
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: .375rem 0;
    cursor: pointer;
    &:focus, &:hover {
        text-decoration: underline;
    }
}

.posts-navigation {
    display: flex;
    justify-content: space-between;
    max-width: 40rem;
    margin: 2rem auto;
    a {
        z-index: 9999;
    }
}

#post-48 .button-container .mobile-hidden,
#post-44 .button-container .private-repo,
#post-42 .button-container .mobile-hidden {
    display: none;
    @include mediaQuery(50em) {
        #post-48 .button-container .mobile-hidden {
            display: block;
        }
    }
}