// Colors
$color-background-body: #191C19;
$color-text-main: #F9F7F3;
$color-border: #B2B6BA;

$color-link: #F9F7F3;
$color-link-hover: #B2B6BA;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Ledger&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$font-body: 'Raleway', sans-serif;
$font-heading: 'Ledger', serif;

$font-line-height-body: 1.5;