@import "../../abstracts/mixins/mixins";

#post-36 section {
    .about-heading {
        display: flex;
        justify-content: space-between;
        margin: .5rem;
        @include mediaQuery(50em) {
            margin: 1rem;
        }
    }
    h1 {
        margin: 0 0 1rem 0;
    }
    .about-logo {
        position: relative;
        .about-logo-background, .about-logo-cat {
            position: absolute;
            object-fit: cover;
        }
        .about-logo-background {
            width: 7.25rem;
            border-radius: 70%;
            top: 0;
            left: 0;
            @include mediaQuery(50em) {
                width: 13rem;
            }
        }
        
        .about-logo-cat {
            width: 6.25rem;
            padding: .35rem 0 0 .35rem;
            @include mediaQuery(50em) {
                width: 12rem;
            }
        }
    }
    .icon-gallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
            width: 1.125rem;
            margin: .25rem;
            @include mediaQuery(50em) {
                width: 2rem;
            }
        }
    }
}


