#post-48,
#post-46,
#post-44,
#post-42 {
    .video-container video {
        width: 100%;
    }
    .project-overview p,
    .react-tabs p {
        margin: .25rem;
    }
    .single-links a {
        margin-left: .5rem;
    }
}