main {
    max-width: 80%;
    margin: 0 auto;
    @media screen and (max-width: 50em) {
        max-width: 43.75rem;
    }
    h1, h2 {
        text-align: center;
    }
}

.stacks .tech-stack .tsi svg,
.stack-flex .tech-stack .tsi svg {
    width: 2rem;
    margin: .5rem;
}

.stack-flex .tech-stack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    @include mediaQuery(50em) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    div {
        display: flex;
        align-items: center;
        background-color: rgb(25, 25, 25);
        border-radius: .5rem;
    }
}

#post-36 section,
.projects-section,
.project-overview,
.react-tabs {
    border: 1px solid $color-border;
}

#post-36 section,
.projects-section,
.project-overview,
.react-tabs,
#post-48,
#post-46,
#post-44,
#post-42 {
    margin: 10rem auto;
    width: 90%;
    @include mediaQuery(50em) {
        width: 66%;
    }
}

.tech-stack {
    margin: 1rem auto;
}

#post-36 section,
.projects-section {
    h1, h2, h3 {
        font-size: 1rem;
        @include mediaQuery(50em) {
            font-size: 2rem;
        }
    }
    video {
        width: 9rem;
        @include mediaQuery(50em) {
            width: 20rem;
        }
    }
    p {
        padding: .5rem;
    }
    @include mediaQuery(50em) {
        p {
            padding: 1rem;
        }
    }
}

#post-36 section,
.projects-section,
#post-48,
#post-46,
#post-44,
#post-42 {
    .more-info-link {
        background-color: $color-link;
        color: $color-background-body;
        padding: .25rem .5rem;
        border-radius: 1rem;
        display: inline-block;        
    }
    
    .button-container {
        display: flex;
        justify-content: flex-end;
        margin: 0 .5rem 1rem 0;
    }
}

.top,
.stacks,
#post-48,
#post-46,
#post-44,
#post-42 {
    margin-top: 20rem;
}