@import url('https://fonts.googleapis.com/css2?family=Ledger&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$font-body: 'Raleway', sans-serif;
$font-heading: 'Ledger', serif;

$font-line-height-body: 1.5;