body {
    background-color: $color-background-body;
    font-family: $font-body;
    color: $color-text-main;
    font-size: 1rem;
    line-height: $font-line-height-body;
}

@import "headings";

// $background-image: url('../../../assets/trumpets.svg');

// #post-12 {
//     background-image: $background-image;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
// }